

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#0f1724;
    color:#fff;
    width: 100%;
}




header{

    background-color: #829fcf98;
    padding: 20px;
       margin: 0 auto  ;
    

}


.logo{
    display: inline-block;
     font-weight: bold;
    font-size: 30px;
    margin-left: 45%;

}


 nav ul {
    list-style: none;
    display: inline-block;
    margin-left: 38%;
    margin-top: 10px;
    

}

header nav li {
    display: inline-block;

}



header nav a {
    text-decoration: none;
    color: white;
    padding: 6px 10px;
 font-size: 22px;
}


header nav a:hover{
    color: #1e293b;
}


.hero {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    padding: 40px;
    background-color: #1e293b;
    border-radius: 12px;
}

.hero .content {
    display: inline-block;
    max-width: 60%

}

.hero .title {
    font-size: 32px;
    margin-bottom: 12px;
}

.hero .desc {

    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    background: linear-gradient(90deg, #8b5cf6, #06b6d4);
    color: white;
    border-radius: 10px;
    margin-top: 8px;
}

.btn:hover{
opacity: .6;


}


.hero .photo{
    background-image: url("assets/images/photo.jpg");
    background-size: cover;
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 50%;
    border:3px #06b6d4 solid;
    vertical-align: top;
    margin-left: 20%;
}


.skills ,.media{
    
    padding: 20px;
    background-color: #1e293b;
    border-radius: 10px;
    max-width: 82%;
    margin: 30px auto ;
}

ul {
    list-style: none;
}

.item {
    display: inline-block;
     background: #6fcfea5b;
    padding: 6px 10px;
    margin: 6px 6px 0 0;
    border-radius: 6px;

}


.social a {
    display: inline-block;
    text-decoration: none;
  padding: 6px 10px;
    margin: 6px 6px 0 0;
    border-radius: 6px;
    background: #6fcfea5b;
    color: white;
}

.social a:hover{
  background: #6fcfea1d;
   outline: 1px solid #06b6d4;
}


.projects {
    margin: 30px auto 0;
    max-width: 84%;
    
    
}

.projects h2{
    margin-bottom:10px ;
}

.projects-wrap {
    white-space: nowrap;
    overflow-x: auto;
}

.project {
    display: inline-block;
    width: 220px;
    height: 140px;
    background: #071029;
    border-radius: 8px;
    padding: 12px;
    margin-right: 12px;
    text-decoration: none;
    color: #071029;
    font-size: 22px;
    background-image: url("assets/images/piermanuele-sberni-m189JN5adtU-unsplash.jpg");
    background-size: cover;
}

.footer {
    margin-top: 30px;
    padding: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

}

